/* Start title */
.title {
    background-color: white;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title .container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: lighter;
}

/* End title */
/* Start Job Offers */
.jobOffers {
    margin-top: 20px;
}

.jobOffers .container {
    width: 55%;
}
@media (max-width:767px) {
    .jobOffers .container {
        width: 100%;
    }
}


.jobOffers .container .box .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.jobOffers .container .box .card .text {
    text-align: right;
}

.jobOffers .container .box .card .text span {
    font-size: 14px;
    color: #ADADAD;
}

.jobOffers .container .box .card .text h2 {
    font-size: 22px;
    margin: 15px 0;
}

.jobOffers .container .box .card .text p:last-of-type {
    font-size: 20px;
    margin-bottom: 15px;
}

.jobOffers .container .box .card .info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #CBCBCB;
    padding-bottom: 20px;
    width: 100%;
}


.jobOffers .container .box .card .info .title {
    font-size: 14px;
}

.jobOffers .container .box .card .info .title i {
    color: var(--main-color);
    margin-left: 5px;
}

.jobOffers .container .box .card .info .title span {
    margin-left: 100px;
}

@media (max-width:767px) {
    .jobOffers .container .box .card .info {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .jobOffers .container .box .card .info .title span {
    margin: 0;
    }
}

.jobOffers .container .box .card .moreInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: right;
    border-bottom: 1px solid #CBCBCB;
    padding: 20px 0;
    margin: 20px;
    gap: 20px;
    width: 100%;
}

@media (max-width:767px) {
    .jobOffers .container .box .card .moreInfo {
        flex-direction: column;
        text-align: center;
    }
}

.jobOffers .container .box .card .moreInfo span {
    font-size: 14px;
    color: #ADADAD;
}

.jobOffers .container .box .card .moreInfo span p {
    font-size: 14px;
    color: black;
    margin-top: 5px;
}

.jobOffers .container .box .card a {
    background-color: var(--main-color);
    color: white;
    padding: 10px 50px;
    border-radius: 6px;
    font-size: 15px;
    margin-left: 10px;
    transition: 0.3s;
}

@media (max-width:767px) {
    .jobOffers .container .box .card a {
        display: block;
        margin-bottom: 10px;
        width: fit-content;
    }

}

.jobOffers .container .box .card a:hover {
    background-color: var(--main-color-alt);
}

.jobOffers .container .box .card a:last-of-type {
    border: 1px solid red;
    color: red;
    background-color: white;
    transition: 0.3s;
}

.jobOffers .container .box .card a:last-of-type:hover {
    color: white;
    background-color: rgb(197, 21, 21);
}
/* End Job Offers */