@font-face {
    font-family: "din-next";
    src: url(../fonts/din-next-lt-w23-regular.ttf);
}

:root {
    --main-color: #3792FC;
    ---main-color-alt: #1B74DD;
}

/* Start title */
.title {
    background-color: white;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title .container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: lighter;
}

/* End title */
/* Start Login */
.login {
    margin-top: 20px;
}

.login .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login .container .box {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 490px;
}

.login .container .box .text p {
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 15px;
}

.login .container .box .text h2 {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 15px;
}

.login .container .box .cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.login .container .box .cards .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
    background-color: #F7F7FA;
    border-radius: 10px;
    border: 1px solid #B1BCC9;
    transition: 0.3s;
    width: 125px;
    height: 135px;
}

.login .container .box .cards .card:last-of-type:hover p{
    color: red;
    background-color: #eee;

}

.login .container .box .cards .card .content {
    width: 100px;
}

.login .container .box .cards .card i {
    font-size: 36px;
    margin-bottom: 30px;
    color: #B1BCC9;
}

.login .container .box .cards .active {
    background-color: var(--main-color);
    color: white;
    border: none;
}


.login .container .box .cards .active i {
    color: white;
}

.login .container .box .cards .active span i {
    position: absolute;
    color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
}

.login .container .wrapper form input {
    width: 100%;
    outline: none;
    border: 1px solid #E8E8E8;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.login .container .wrapper form input:focus {
    box-shadow: 0px 0px 4px 4px #1b76dd53;
    border: 1px solid var(--main-color);
}

.login .container .wrapper form input::placeholder {
    opacity: 1;
    transition: 0.3s;
}

.login .container .wrapper form input:focus::placeholder {
    opacity: 0;
}

.login .container .wrapper .eye {
    position: relative;
}
.login .container .wrapper .eye {
    position: relative;
}
.login .container .wrapper .eye .icon {
    position: absolute;
    left: 15px;
    top: 60%;
    transform: translateY(-50%);
}

.login .container .wrapper a:first-of-type {
    display: flex;
    justify-content: flex-start;
    color: black;
    transition: 0.3s;
}

.login .container .wrapper a:first-of-type:hover {
    color: var(--main-color);
    text-decoration: underline;
}

.login .container .wrapper a:not(:first-of-type) {
    display: block;
    padding: 10px 0;
    border-radius: 10px;
    border: none;
    width: 100%;
    margin-top: 10px;
    background: var(--main-color);
    color: white;
    transition: 0.3s;
}
.login .container .wrapper a:not(:first-of-type):hover {
    background-color: var(---main-color-alt);
}
/* End Login */