/* Start Landing */
.landing {
    background-image: url(../imgs/Landing.png);
    background-color: #1f2021;
    background-size: cover;
    height: 90vh;
}

.landing::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}

.landing .container {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 250px;
}

@media (max-width:767px) {
    .landing .container {
        padding-right: 0;
        text-align: center;
    }
}

.landing .container h1 {
    font-size: 40px;
}

.landing .container p {
    font-size: 25px;
    margin-bottom: 40px;
}

/* End Landing */


/* Star Main Section */
@media (max-width:767px) {
    .main-section .container .card-1 {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
}

.main-section .container .text p {
    line-height: 1.8;
}

.main-section .container .card {
    flex-basis: calc(50% - 10px);
}

.main-section .container .card i {
    font-size: 70px;
    color: var(--main-color);
}

/* End Main Section */